/* Base style */

* {
	box-sizing: border-box;
}

.main-header {
	text-align: center;
	margin: 300px 0;
	
}

.primary {
	text-align: center;
	margin: 0 300px;
	font-size: 1.5rem;
}

.nature {
	margin: 50px 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
	text-align: center;
}

h3 {
	font-size: 1.2rem;
}

img {
	border: 2px solid #92EC11;
	border-radius: 25px;
}

  	


